body {
    direction: rtl;
    text-align: center;
    background: #585858;
}

.board {
    display: inline-grid;
    background: #383b3a;
}

.board>div {
    height: 10px;
    width: 10px;
    font-size: 6px;
}

.board>div.active {
    background-image: radial-gradient(#212121 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
    background-color: #44e535;
    background-position: 0 0, 50px 50px;
    background-size: 9px 9px;
}

.bait::after {
    content: "🍎";
    position: relative;
    top: -2px;
    right: -2px;
    font-size: 10px;
}

.board>div.head.up {
    border-radius: 12px 12px 0 0;
}

.board>div.head.right {
    border-radius: 0 12px 12px 0;
}

.board>div.head.down {
    border-radius: 0 0 12px 12px;
}

.board>div.head.left {
    border-radius: 12px 0 0 12px;
}
