body {
    direction: rtl;
    background-color: #333;
}

.news {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.Card {
    cursor: pointer;
    transition: 0.3s;
}

.Card:hover {
    scale: 1.05;
}