body {
    direction: rtl;
    background-color: #333;
}

.news {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media (min-width: 700px) {
    .news {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .news {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .news {
        grid-template-columns: repeat(4, 1fr);
    }
}

.Card {
    cursor: pointer;
    transition: 0.3s;
}

.Card:hover {
    scale: 1.05;
}

a {
    text-decoration: none;
}