.users-table {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr:first-child {
    background-color: #242424;
    text-align: center;
    font-weight: bold;
}

th, td {
    padding: 12px;
    color: white;
    text-align: center;
}

th {
    color: aqua;
    position: sticky;
    top: 0;
    background-color: inherit;
}

tr:nth-child(even) {
    background-color: #ffffff15;
}

.remove {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.remove:hover {
    scale: 1.8;
}

.remove:active {
    scale: 3;
}